#ak-logo{
    height:25%;
    width:25%;
    }
#m-title-img{ 
    
   margin-left: 6%;    
}
#m-title-txt{
    padding-top: 1%;
    margin-left: 60%;
top:3%
}
#m-title-imgl{
    margin-left: 55%;
    padding-top:1%;
}
.m-title {
  width: 50%;
  margin-left: 5%;
  padding-top: 4%;
}
#carouselExampleIndicators{
    height: 50%;
    width: 50%;
    margin-left: 25%;
}
.m-img {
  margin-left: 55%;
  width: 45%;
  top: 20%;
  position: absolute;
}
#lion-jk{
    margin-left: 13%;
    padding-top: 3%;
}
#lion-h1{
    color: forestgreen;
    font-family: 'Montserrat', sans-serif;
    margin-left: 7%;
    padding-top:5%;
}
#rhino-h1{
    color: forestgreen;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
    padding-top:5%;
}
.m-p1 {
  width: 50%;
  margin-left: 6%;
  padding-top: 4%;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
}
.m-p2 {
  width: 75%;
  margin-left: 14%;
  padding-top: 4%;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
}
#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: .3s;
}
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
/*-------------------------------------------------FOOTER-------------------------------------------------------------*/
footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #ccffbd;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Montserrat', sans-serif;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #00acc1;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #ccffbd;
	color: #00acc1;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #00acc1;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #00acc1;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  ##00acc1;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ccffbd;
	border-radius: 2px;

	font-size: 20px;
	color: #00acc1;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
#elephant-jk{
    margin-left: 30%;
    padding-top: 3%;
}
#car-phto{
    height: 250%;
}
.fa-map-marker {
    
}
.dino-1 {
	margin-left: 62%;
  width: 30%;
  top: 25%;
  position: absolute;
}

.dino-2 {
	margin-left: 62%;
  width: 30%;
  top: 25%;
  position: absolute;
}.dino-3 {
	margin-left: 62%;
  width: 35%;
  top: 25%;
  position: absolute;
}.dino-4 {
	margin-left: 62%;
  width: 25%;
  top: 20%;
  position: absolute;
}.dino-5 {
	margin-left: 62%;
  width: 30%;
  top: 25%;
  position: absolute;
}.dino-6 {
	margin-left: 62%;
  width: 30%;
  top: 25%;
  position: absolute;
}.dino-7 {
	margin-left: 62%;
  width: 35%;
  top: 25%;
  position: absolute;
}.dino-8 {
	margin-left: 62%;
  width: 30%;
  top: 25%;
  position: absolute;
}