h1 {
  margin-left: 5%;
  padding-top: 5%;
}

.ak-title {
  width: 50%;
  margin-left: 5%;
  padding-top: 4%;
}

.ak-img {
  margin-left: 55%;
  width: 50%;
  top: 28%;
  position: absolute;
}

.ak-p1 {
  width: 50%;
  margin-left: 7%;
  padding-top: 4%;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
}

/*mudit section*/

#ak-conservation {
  background-color: white;
}
h3{
    color:black
    font-size:15 px;
    font-family:Montsarrat;
}
p{
    color:black;
    font-size:10 px;
    font-family:Montsarrat;
    padding-bottom:3%;
    padding-left:4%;
}
.image-1 {
    width: 25%;
}

.image {
    width: 60%;
}

.heading-1 {
    margin-left: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.abd-ani-text {
    color:black;
    font-size:25px;
    font-family: Montsarrat;
    
}

.image-2 {
    width:60%;
}

.p1 {
    color:black;
    font-size:25px;
    font-family: Montsarrat;
    
}

.ak-conservation-link {
    color: green;
}

.ak-conservation-link:hover{
    
    color:blue;
}


/*mudit section*/

/*kshitij section*/

.icon {
  color: black;
  margin-bottom: 1rem;
}

.icon:hover {
  color: green;
}

.fa-paw {
  position: absolute;
  left: 39.5%;
  bottom: 50%;
}

.ak-reserves-title {
  font-size: 2rem;
}

.feature-box {
  padding: 4.5%;
  width: 50%;
}

#ak-reserves {
  text-align: center;
}

#title-section {
  padding-bottom: 5%;
}

.yellow-circle {
  border-radius: 100%;
  padding-bottom: 3%;
}
.yellow-circle:hover{
	color: green;
}

.fa-seedling {
  position: absolute;
  left: 40%;
  bottom: 46%;
}

.fa-dove {
  position: absolute;
  left: 40%;
  bottom: 48%;
}

.ak-reserves-link {
  color: black;
}

.ak-reserves-link:hover {
  color: green;
  text-decoration: none;
}
#ak-logo{
    height:25%;
    width:25%;
    }
#card-p{
    font-family: 'Montserrat', sans-serif;
}
h6{
    font-family: 'Montserrat', sans-serif;
}
.p2 {}

/*kshitij section*/
#ak-types-img{
    margin-left: 31%;
    padding-top: 5%;
}
/*TYPES OF ANIMAL*/

#cards_landscape_wrap-2 {
  text-align: center;
  background: #F7F7F7;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #CCFFBD;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

/*MAMMAL HOVER END*/

/*rambabu section*/

#ak-facts {
	
}
 .hed{
    text-align: center;
    color: rgb(12, 94, 12);
  }
  @import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

  :root {
    --color: #3c3163;
    --transition-time: 0.5s;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans';
    background: #fafafa;
  }
  
  a {
    color: inherit;
  }
  
  .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
  }
  
  .card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
  }
  
  .card:hover {
	  decoration:none;
    transform: rotate(0);
  }
  
  .card h1 {
	  decoration:none;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  
  .card p {
	  decoration:none;
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 0.75em;
    background: rgba(83, 78, 145, 0.445);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    background: var(--color);
    color: rgb(240, 230, 230);
  }
  
 
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
    
  }
  
  .card:before {
    background: rgb(31, 156, 20);
    width: 250%;
    height: 250%;
  }
  
  .card:after {
  
    background: rgb(245, 237, 237);
    width: 200%;
    height: 200%;
  }
  
  .card:hover {
    color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      /margin-left: 0;
      /text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media screen and (max-width: 450px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  }
/*rambabu section*/
